<div class="footer">
  <div class="footer-links">
  </div>
  <div class="footer-copyright">
    Made with <%= cl_image_tag("billkill/blood_heart_bwm0f1.png", :quality=>"auto:best", :width=>20, :crop=>"scale") %>
  </div>
</div>
