<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1>Need some help? Let us know.<h1>
  <div class="form-group">
  <form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <div class="c" small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else, we're professionals.</small>
  </div>
  </div>
  
  
  <label for="exampleFormControlSelect1">Select an option</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Need a good law firm</option>
      <option>Need a crime scene cleaner</option>
      <option>Which countries have extradition?</option>
    </select>
 <div class="form-group">
    <label for="exampleFormControlTextarea1">What are you whining about?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
 </div>
 </div>
 </div>