<div class="banner" style="padding-left: 40px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url('https://res.cloudinary.com/djnfnwxgu/image/upload/v1598618831/billkill/banner_map_blood_bavbfu.png');">
  <div class="container" style="padding-bottom: 50px;">
    <h1>Hire your hitman or hitwoman <strong>today</strong>!</h1>
  </div>
  <div class="container" style="display: border-box;">
    <p>NO 'JOB' TOO SMALL!</p>
    <%= link_to "Find an Assassin", assassins_path, class: "btn btn-flat-assassins-banner" %>
    <%= link_to "Join our illustrious list today", new_assassin_path, class: "btn btn-flat-assassins-banner" %>
  </div>
</div>
