<div class="flex-container" style="margin-top: 80px;">
  <p><strong><%= @assassin.first_name %></strong></p>
  <p><%= link_to "Add Another Assassin", new_assassin_path %></p>
  <p><%= link_to "Assassin List", assassins_path %></p>
</div>
